## Introduction

***

##### ***Goal:*** *Merchants complete the pre-requisite before integrating with Veritrans*
***

The integration of online payments through Veritrans is easy. You can immediately accept different online payment methods from your customers. But, before do this there are a few pre-requisite before integrating with Veritrans:

{: #step1}
### 1. Register to Veritrans.

Veritrans has one central login to access both production and sandbox account. Sandbox is utilized for development period while production is utilized when the merchant has completed the integration process and want to go live. Data and transaction made on sandbox account will not trigger an actual purchase while in production account will trigger an actual process. 

Once logged in, there will be a small button on the header of the dashboard that shows you on whether you are in the production or sandbox environment. The color of the nagivation sidebar also set differently between Production (light blue) and Sandbox (dark blue) for further clarity.

{: #step2}
### 2. Take note of your account Access Keys. 

Before using Veritrans payment, it's important to obtain Veritrans access keys. Your account keys can be found under [Settings - Access Keys](https://my.sandbox.veritrans.co.id/settings/config_info "Access Keys")<br />

<div class="alert alert-warning" role="alert">
  <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
  <span class="sr-only">Caution:</span>
__Caution!__ <br>Be discreet on your 'Server Key'.

</div>

{: #step3}
### 3. Fill in the required information in Merchant Admin Portal (MAP). 

The required fields can be found under [Settings - General Settings](https://my.sandbox.veritrans.co.id/settings/general_info "General Settings").<br />