<footer>
  <div class="container">
    <div class="row footer-content">
      <div class="col-lg-3 col-md-3 col-sm-4 col-xs-6">
        <h4 class="text-gray">Veritrans</h4>
        <ul>
          <li>
            <a href="https://www.veritrans.co.id/">Home</a>
          </li>
          <li>
            <a href="https://www.veritrans.co.id/payment_channels.html">Payment Channels</a>
          </li>
          <li>
            <a href="https://www.veritrans.co.id/product_pricing.html">Product &amp; Pricing</a>
          </li>
          <li>
            <a href="https://www.veritrans.co.id/partners.html">Partners</a>
          </li>
          <li>
            <a href="https://www.veritrans.co.id/promo.html">Promo</a>
          </li>
          <li>
            <a href="https://www.veritrans.co.id/case_study.html">Case Study</a>
          </li>
          <li>
            <a href="https://www.veritrans.co.id/aegis.html">Aegis</a>
          </li>
        </ul>
        <!-- <h4 class="text-gray">Shopping</h4>
        <ul>
          <li>
            <a href="event.html">Promo</a>
          </li>
          <li>
            <a href="directory.html">Directory</a>
          </li>
        </ul> -->
      </div>
      <div class="col-lg-2 col-md-3 col-sm-4 col-xs-6">
        <h4 class="text-gray">Devs</h4>
        <ul>
          <li>
            <a href="http://docs.veritrans.co.id">Documentations</a>
          </li>
        </ul>
        <h4 class="text-gray about-footer">About</h4>
        <ul>
          <li>
            <a href="https://www.veritrans.co.id/about.html">Team</a>
          </li>
          <li>
            <a href="https://www.veritrans.co.id/career.html">Career</a>
          </li>
          <li>
            <a href="https://www.veritrans.co.id/press.html">Press</a>
          </li>
        </ul>
      </div>
      <div class="col-lg-2 col-md-3 col-sm-4 col-xs-6">
        <h4 class="text-gray">Help</h4>
        <ul>
          <li>
            <a href="https://blog.veritrans.co.id">Blog</a>
          </li>
          <li>
            <a href="http://support.veritrans.co.id">FAQ</a>
          </li>
          <li>
            <a href="https://www.veritrans.co.id/contact.html">Contact</a>
          </li>
          <li>
            <a href="https://www.veritrans.co.id/privacy_policy.html">Privacy Policy</a>
          </li>
        </ul>
      </div>
      <div class="col-lg-2 col-md-3 col-sm-4 col-xs-6 find-us-footer">
        <h4 class="text-gray">Find Us</h4>
        <ul>
          <li>
            <a href="https://www.facebook.com/veritransID">Facebook</a>
          </li>
          <li>
            <a href="https://twitter.com/veritransid">Twitter</a>
          </li>
          <li>
            <a href="https://instagram.com/veritransid">Instagram</a>
          </li>
          <li>
            <a href="https://www.linkedin.com/company/pt-midtrans">LinkedIn</a>
          </li>
          <li>
            <a href="https://www.youtube.com/channel/UCtPNqTFgR1aXpEFA9B_djnw">YouTube</a>
          </li>
        </ul>
      </div>
      <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
        <h4 class="text-gray with-subtitle">
          Subscribe
        </h4>
        <small>
          tips &amp; berita terbaru seputar eCommerce
        </small>
        <div id="mc_embed_signup">
          <form action="//veritrans.us9.list-manage.com/subscribe/post?u=4ed5f88335112571098a4a51c&amp;id=12315939d2" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
            <div id="mc_embed_signup_scroll">
              <div class="mc-field-group">
                  <input type="email" value="" name="EMAIL" class="required email search-input" id="mce-EMAIL" placeholder="EMAIL" pattern="/^[a-zA-Z0-9.!#$%&'*+/=?^_`{|}~-]+@[a-zA-Z0-9-]+(?:\.[a-zA-Z0-9-]+)*$/" required/>
              </div>
              <div id="mce-responses" class="clear">
                  <div class="response" id="mce-error-response" style="display:none"></div>
                  <div class="response" id="mce-success-response" style="display:none"></div>
            </div>   
              <div style="position: absolute; left: -5000px;"><input type="text" name="b_4ed5f88335112571098a4a51c_12315939d2" tabindex="-1" value=""></div>
              <div class="clear"><input type="submit" value="submit" name="subscribe" id="mc-embedded-subscribe" class="btn btn-search"/></div>
              </div>
          </form>
        </div>
      </div>
    </div>
    <div class="copyright text-center">
      <br/>
      &copy; <script>document.write(new Date().getFullYear())</script> PT Midtrans
      <br/>
      <br/>
    </div>
  </div>
</footer>
<div class="modal fade" id="underConstruction" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title text-center" id="myModalLabel">Sorry!</h4>
      </div>
      <div class="modal-body text-center">
        We're still building this web page.<br/>
        Be the first to know when it's done by <a class="dotted" href="https://veritrans.us9.list-manage.com/subscribe/post?u=4ed5f88335112571098a4a51c&id=12315939d2">subscribing</a> to our newsletter.
      </div>
    </div>
  </div>
</div>
<script language="javascript" type="text/javascript">
  function popitup(url) {
    newwindow=window.open(url,'name','height=430,width=540');
    if (window.focus) {newwindow.focus()}
    return false;
  }
</script>