<nav class="navbar navbar-fixed-top with-shadow">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#main-navbar">
        <span>Menu &#x2304;</span>
      </button>
      <a class="navbar-brand logo" href="https://veritrans.co.id/"></a>
      <a id="signUpHeader" href="https://my.veritrans.co.id/register" class="btn btn-yellow hidden-sm hidden-md hidden-lg">
        Sign Up
      </a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="main-navbar">
      <ul class="nav navbar-nav">
        <li><a class="uppercase" id="paymentHeader" href="https://veritrans.co.id/payment_channels.html">Payments</a></li>
        <li><a class="uppercase" id="pricingHeader" href="https://veritrans.co.id/product_pricing.html">Product &amp; Pricing</a></li>
        <li><a class="uppercase" id="partnerHeader" href="https://veritrans.co.id/partners.html">Partners</a></li>
      </ul>

      <ul class="nav navbar-nav navbar-right">
        <li>
          <a id="docsHeader" href="http://docs.veritrans.co.id">Docs</a>
        </li>
        <li>
          <a id="contactHeader" href="https://veritrans.co.id/contact.html">Contact</a>
        </li>
        <li>
          <a id="blogHeader" href="https://blog.veritrans.co.id">Blog</a>
        </li>
        <li>
          <a id="careerHeader" href="https://veritrans.co.id/career.html">Career</a>
        </li>
        <li class="login-li">
          <a id="logInHeader" class="uppercase text-bold" href="https://my.veritrans.co.id/">
            Log In
          </a>
        </li>
        <li class="signup-li">
          <div>
            <a id="signUpHeader" href="https://my.veritrans.co.id/register" class="btn btn-yellow hidden-xs">
              Sign Up
            </a>
          </div>
          
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
<div class="nav-overlay visible-sm visible-xs"></div>
